<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SheetDB - Vue</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="dist/css/map-icons.min.css">
    <link rel="stylesheet" href="dist/css/snazzy-info-window.min.css">
    <link rel="stylesheet" href="dist/css/app.css">
    <link rel="stylesheet" href="dist/css/c3.min.css">
</head>
<body>
    <div id="app" class="container" style="height: 800px">
        <button @click="loadTransactionCard()">Load chart</button>
        <div class="field">
            <label class="label">Select a country</label>
                <div class="control">
                     <div class="select">
                        <select name="countries" id="countries" @change="loadCountryData(country)"  v-model="country">
                            <option :value="country" v-for="country in countries">{{ country }}</option>
                        </select>
                    </div>
                </div>
           
        </div>
        <div id="chart"></div>
        <div id="sheetmap" style="height: 800px!important"></div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="dist/snazzy-info-window.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN2u1GaF93ATF0V-Umf8kac43uiuIpDYI"></script>

<script type="text/javascript" src="dist/c3.min.js"></script>
<script type="text/javascript" src="dist/app.js"></script>
</body>
</html>